<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Utilisateurs</title>
    <style>
        td{
            height: 50px;
        }
    </style>
</head>
<body style="background-color: rgb(19, 88, 19);">
    <h1>Liste des Utilisateurs</h1>
    <table border="1">
        <tr>
            <th>nom</th>
            <th>postnom</th>
            <th>username</th>
            <th>password</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user[0] }}</td>
            <td>{{ user[1]}}</td>
            <td>{{ user[2] }}</td>
            <td>{{ user[3] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
