<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/fichierlogin.css">
    <title>Document</title>
    <style>
       

    </style>
</head >
<body style="background-color: rgb(65, 16, 16); color: aliceblue;">
  <header >
    <h1>Bienvenue de la boite secrete des messagerie</h1>
        <h1>Formulaire d'identification</h1>
  </header>
   
        
    
        <h2>Entrez votre nom d'utilisateur et votre mot de passe :</h2>
        <form action="/login", method="post">
            <label for="username">Nom d'utilisateur:</label><br>
            <input type="text" id="username" name="username"><br><br>
            
            <label for="password">Mot de passe:</label><br>
            <input type="password" id="password" name="password"><br><br>
            
            <input type="submit" value="Se connecter" style="color: red;">
        </form>
       <h1> <a al href="/creer_compte">creer un nouveau compte</a></h1>
    
</body>
</html>