<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: rgb(78, 22, 5);; text-align: center;color: aliceblue;">
  <header style="background-color: rgb(78, 22, 5); ">
        <h1><title>Formulaire d'identification</title></h1>
  </header>
    
        <h2>Entrez votre nom d'utilisateur et votre mot de passe :</h2>
        <form action="/newcompte", method="post">
            <label for="nom">entrer votre nom:</label><br>
            <input type="text" id="nom" name="nom"><br><br>
            <label for="postnom">entrer votre postnom:</label><br>
            <input type="text" id="postnom" name="postnom"><br><br>
            <label for="username">Nom d'utilisateur:</label><br>
            <input type="text" id="username" name="username"><br><br>
            <label for="password">Mot de passe:</label><br>
            <input type="password" id="password" name="password"><br><br>
            
            <input type="submit" value="valider" style="color: red;">
        </form>
        
    
</body>
</html>